BODY {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.clear {
	DISPLAY: block; CLEAR: both
}
.carousel {
	width:550px; padding:0; margin-right:18px; float:right
}
.carousel .prev {
	WIDTH: 28px; DISPLAY: block; HEIGHT: 91px; OVERFLOW: hidden; CURSOR: pointer; TEXT-DECORATION: none
}
.carousel .next {
	WIDTH: 28px; DISPLAY: block; HEIGHT: 91px; OVERFLOW: hidden; CURSOR: pointer; TEXT-DECORATION: none
}
.carousel .prev {
	BACKGROUND: url(../images/button-prev.gif) no-repeat; FLOAT: left
}
.carousel .next {
	BACKGROUND: url(../images/button-next.gif) no-repeat; FLOAT: left
}
.carousel .disabled#prev-03 {
	BACKGROUND: url(../images/button-prev.gif) no-repeat; CURSOR: default
}
.carousel .disabled#next-03 {
	BACKGROUND: url(../images/button-next.gif) no-repeat; CURSOR: default
}
.jCarouselLite {
	WIDTH:714px; FLOAT: left; HEIGHT: 91px; OVERFLOW: hidden
}
.jCarouselLite LI {
	TEXT-ALIGN: center; WIDTH: 162px; HEIGHT: 152px
}
.jCarouselLite ul{ width:658px; height:91px; margin:0; padding:0;list-style:none;float:left}

	.jCarouselLite ul li{ width:94px; height:91px; margin:0; padding:0; list-style:none; cursor:pointer;cursor:hand; float:left}
	.jCarouselLite ul li.menu01{ background:url(../images/firstmenu/20130416_20060321.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu02{ background:url(../images/fmenu2.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu03{ background:url(../images/fmenu3.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu04{ background:url(../images/fmenu4.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu05{ background:url(../images/fmenu5.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu06{ background:url(../images/fmenu6.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu07{ background:url(../images/fmenu7.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu08{ background:url(../images/fmenu8.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu09{ background:url(../images/fmenu9.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu10{ background:url(../images/fmenu10.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu11{ background:url(../images/fmenu11.gif) no-repeat 0 0;}
	.jCarouselLite ul li.menu12{ background:url(../images/fmenu12.gif) no-repeat 0 0;}
	.jCarouselLite ul li.mouseover{background-position:0 -91px;}
	.jCarouselLite ul li.mouseout{background-position:0 0;}
	.jCarouselLite ul li.selected{ font-weight:bold; background-position:0 -182px;}
	.jCarouselLite ul li.selectednew{ font-weight:bold; background-position:0 -273px;}
	.jCarouselLite ul li.selected2{ font-weight:bold; background-position:0 -182px;}
	.jCarouselLite ul li .new{ width:14px; height:14px; margin-left:44px;margin-top:55px; padding:0; background:url(../images/ico_new.gif) no-repeat; }